<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="pt-8">
      <form method="post">
        <div class="input-container flex justify-center gap-x-3">
          <input
            type="text"
            name="title"
            class="border-solid border-2 border-black rounded w-6/12 text-2xl"
            required
          />
          <button
            class="border-solid border-2 border-sky-500 h-full px-1 py-2 rounded"
          >
            Add Todo
          </button>
        </div>
      </form>

      <div class="todo-container w-6/12 mx-auto mt-28">
        {% for todo in todos %}
        <!-- todo -> (todoId, title, completed, date_created) -->
        <div
          class="todo-item border-solid border-2 border-black rounded flex items-center gap-x-3 py-2 px-1 my-1 hover:border-green-300"
        >
          {% if todo[2] %}
          <input
            type="checkbox"
            name="completed"
            data-todo-id="{{todo[0]}}"
            checked
          />
          {% else %}
          <input type="checkbox" name="completed" data-todo-id="{{todo[0]}}" />
          {% endif %}

          <span class="grow line-through"> {{ todo[1] }} </span>

          <form action="/delete-todo/{{ todo[0] }}" method="post">
            <button type="submit">
              <img
                class="w-6 cursor-pointer"
                src="{{ url_for('static', filename='img/trash-icon.svg') }}"
                alt=""
              />
            </button>
          </form>
        </div>

        {% endfor %}
      </div>
    </div>

    <script>
      // select a element to listen for click events
      const allCheckBox = document.querySelectorAll("input[type=checkbox]");
      // [2,1,4]
      // loop through the elements and add a eventListener on each checkbox
      allCheckBox.forEach((value) => {
        value.addEventListener("change", (event) => {
          console.log(event.currentTarget.getAttribute("data-todo-id"));
          console.log(event.currentTarget.checked);
          // use js to make request to the server (this request doesn't reload the page)
          const todoId = event.currentTarget.getAttribute("data-todo-id");

          const url = `http://${window.location.host}/todo-completed/${todoId}`;

          /*
          import requests

          url = ""

          resp = requests.get(url)

          print(resp)

          */

          /*
            const url = ""

            fetch(url)

          */
          console.log("making a request");
          const  a = fetch(url)
            .then((e) => {
              console.log("request completed");
              return e.json();
            })
            .then((e) => {
              console.log("json response", e);
            });

          console.log("hello this is after fetch");
          console.log(a);
        });
      });
    </script>
  </body>
</html>
